<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask MongoEngine Admin</title>
    <!-- <link rel="stylesheet" type="text/css" href="/static/foundation.min.css"> -->
    <link rel="stylesheet" type="text/css" href="foundation/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
  <body>
    <div class="row">
      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Flask MongoEngine Admin</li>
            <li>
              <a href="#">One</a>
              <ul class="menu vertical">
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
              </ul>
            </li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          
        </div>
      </div>
    </div>

    <div class="row"> 
      &nbsp;
    </div>

    <div class="row">
      <div class="columns">
        
        <ul class="pagination" role="navigation" aria-label="Pagination">
          <li class="pagination-previous disabled">Previous <span class="show-for-sr">page</span></li>
          <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
          <li><a href="#" aria-label="Page 2">2</a></li>
          <li><a href="#" aria-label="Page 3">3</a></li>
          <li><a href="#" aria-label="Page 4">4</a></li>
          <li class="ellipsis" aria-hidden="true"></li>
          <li><a href="#" aria-label="Page 12">12</a></li>
          <li><a href="#" aria-label="Page 13">13</a></li>
          <li class="pagination-next"><a href="#" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
        </ul>

        <table>
          <thead> 
            <tr>
              <th>Item name</th>
              <th>Date</th>
              <th>Price</th>
              <th>tags</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Item 1</td>
              <td>03.04.2016</td>
              <td>590</td>
              <td>clothes, suits</td>
              <td> 
                <button class="alert button"><i class="fa fa-trash-o"></i></button>
                <button class="button"><i class="fa fa-pencil"></i></button>
              </td>
            </tr>
            <tr>
              <td>Item 2</td>
              <td>07.08.1933</td>
              <td>664</td>
              <td>flowers, plants</td>
              <td>
                <button class="alert button"><i class="fa fa-trash-o"></i></button>
                <button class="button"><i class="fa fa-pencil"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>



<!-- 
    <script src="/static/jquery.js"></script>
    <script src="/static/foundation.min.js"></script>  -->
    <script type="text/javascript" src="foundation/jquery.js"></script>
    <script type="text/javascript" src="foundation/foundation.min.js"></script>
    <script type="text/javascript">
      $(document).foundation(); 
    </script>
<!-- 
    <script type="text/javascript" src="/static/node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="/static/node_modules/angular-route/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>  -->
  </body>
</html>
